body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #282c34;
  color: #61dafb;
  font-family: "Arial", sans-serif;
}

.clock-container {
  text-align: center;
}

#clock {
  font-size: 5rem;
  letter-spacing: 5px;
}
